

.planTop {
  display: flex;
  justify-content: space-between;
  padding-left: 17.5vw;
  padding-right: 17.5vw;
}

.planBottom {
  display: flex;
  justify-content: space-between;
  padding-left: 17.5vw;
  padding-right: 17.5vw;
  padding-top: 3.5vw;
}

.mainPlanSection {
  width: 100%;
  padding-top: 3.5vh;
  padding-bottom: 7vh;
}

.mainPlanSection span{
  border: 1px black solid;
  border-radius: 15px;
  height: 50vh;
  max-width: 26.5;
  cursor: pointer;
}


.trainingImg {
  width: 26.5vw;
  height: 35vh;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  filter: brightness(65%);
}

.trainingParagraph {
  padding-top: 3.5vh;
  padding-left: 17.6vw;
  padding-right: 17.6vw;
}

.planTop h2 {
  position: absolute;
  bottom: 29vh;
  padding-left: 1vw;
  font-weight: 450;
  color: white;
}

.planBottom h2 {
  position: absolute;
  bottom: -26.5vh;
  padding-left: 1vw;
  font-weight: 450;
  color: rgb(255, 255, 255);
}

.titleFix {
  position: absolute;
  top: 50vh;
}

.titleFix2 {
  position: absolute;
  top: 110vh;
}

/*----------------------TIPS-------------------*/

.tipsSection {
  padding-left: 17.6vw;
  padding-right: 17.6vw;
  padding-bottom: 3.5vh;
}

hr {
  margin-bottom: 9vh;
  margin-right: 17.6vw;
  margin-left: 17.6vw;
}

.tips {
  display: flex;
  justify-content: space-between;
}

.tips span {
  width: 12vw;
  padding-top: 3.5vh;
}

.tips img {
  width: 1vw;
}

/*----------------------BOTTOM-------------------*/

.hidden {
  display: none;
}