html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    "Poppins", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #f8f8f8;
}

.nikeNav {
  background-color: #ebebeb;
  display: flex;
  justify-content: space-between;
  padding-left: 3.5vw;
  padding-right: 3.5vw;
  align-items: center;
}

.nikeNavList {
  display: flex;
  gap: 1vw;
  list-style: none;
  font-size: 0.75rem;
}

.jordCon {
  height: 20px;
}

.conLeft {
  padding-left: 2vw;
}

.hr1 {
  margin: 0px;
  margin-top: 3px;
  border: none;
  width: 0.5px;
  background-color: black;
}

/*--------------------------------------NAVBAR*/

.mainNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
}

#mainPadding {
  padding-left: 3.5vw;
  padding-right: 3.5vw;
}

.navBtns {
  display: flex;
  gap: 0px;
  font-size: 0.9rem;
  flex: 1;
}

.navBtnsStyle {
  display: flex;
  gap: 50px;
  border: 1px solid black;
  width: 7vw;
  height: 3.25vh;
  margin: 0px;
  align-items: center;
  justify-content: center;
}

.curvedEdgeLeft {
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}

.curvedEdgeRight {
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
}

.nikeLogoSizing {
  flex: 1;
  height: 4vh;
}

.nikeLogo {
  height: 5vh;
}

.pfp {
  height: 5vh;
}

.pfpSizing {
  flex: 1;
  text-align: end;
}

.hr2 {
  margin: 0px;
}

/*--------------------------------------FRONTPAGE*/

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 10vh;
  padding-left: 17.5vw;
  padding-right: 17.5vw;
}

h1 {
  margin: 0px;
  padding-bottom: 1.5vh;
  font-size: 2rem;
}

.subHead {
  margin: 0px;
  font-size: 1.2rem;
}

.viewAll {
  opacity: 50%;
  font-size: 1rem;
}

.heroImage {
  height: 80vh;
  margin-top: 5vh;
  width: 100%;
  background: linear-gradient(rgb(249, 139, 67), rgb(255, 206, 128));
  object-fit: cover;
}

.scrollBar {
  display: flex;
  justify-content: center;
  gap: 2vw;
  padding-top: 1.5vh;
  padding-bottom: 10vh;
}

.scrollIndicators {
  width: 5vw;
  height: 0.75vh;
  background-color: rgb(240, 240, 240);
  border-radius: 100px;
}

.green {
  background-color: rgb(205, 255, 40);
}

/*--------------------------------------COMMUNITY*/

h2 {
  margin: 0px;
  padding-bottom: 1.5vh;
  font-size: 2rem;
}

.scroll {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 17.5vw;
  padding-right: 17.5vw;
}

.scrollSection {
  display: flex;
  margin-top: 5vh;
  margin-bottom: 10vh;
  gap: 3vw;
  margin-left: 3.5vw;
}

.nameDistance {
  line-height: 1vh;
}

.innerScroll {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.innerCommunitySub {
  display: flex;
  padding-top: 1.5vh;
  gap: 2vw;
  align-items: center;
}

.scrollPic {
  height: 400px;
  width: 400px;
  background-color: rgb(249, 139, 67);
}

.viewScrollSection {
  display: flex;
  gap: 2vw;
  align-items: center;
}

.scrollBtn {
  background-color: #efefef;
  border: none;
  border-radius: 100px;
  height: 5vh;
  width: 3vw;
  font-size: 1rem;
  color: #1f1f29;
  cursor: pointer;
}

.activeBtn {
  background-color: #e1e1e1;
  color: #1f1f29;
}

/*--------------------------------------COACHSEC*/

.coachSec {
  padding-top: 10vh;
  background-color: rgb(22, 22, 22);
}

.coachBack {
  background-color: rgb(22, 22, 22);
  margin-top: 0;
  padding-top: 5vh;
  margin-bottom: 0px;
  padding-bottom: 10vh;
  margin-bottom: 10vh;
  padding-left: 3.5vw;
}

.coachWhite {
  color: rgb(255, 255, 255);
}

.btnReverse {
  background-color: rgba(56, 56, 56, 0.614);
  color: white;
}

.activeBtnReverse {
  background-color: rgba(84, 84, 84, 0.614);
  color: white;
}



/*--------------------------------------BOTTOMSEC*/

button {
  font-family: "Poppins", sans-serif;
  width: auto;
  font-size: 1rem;
  align-self: center;
  background-color: #1f1f29;
  border: 1px #1f1f29 solid;
  border-radius: 50px;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-top: 1vh;
  color: #f0f0f5;
}

.bottom-link-section {
  padding-left: 17.5vw;
  padding-right: 17.5vw;
}

.bottomImage {
  height: 60vh;
  margin-top: 5vh;
  margin-bottom: 3vh;
  width: 100%;
  background: linear-gradient(rgb(249, 139, 67), rgb(255, 206, 128));
}

.bottomText {
  font-size: 1.2rem;
}

/*--------------------------------------FOOTER*/

footer {
  margin-top: 15vh;
  background-color: rgb(22, 22, 22);
}

.footer-lists {
  padding: 3.5vw;
  display: flex;
  list-style: none;
  font-size: 0.75rem;
  gap: 3vw;
}

.footerTitle {
  font-weight: bold;
  font-size: 1rem;
  opacity: 100%;
}

.footerBody {
  opacity: 50%;
}

footer ul {
  list-style-type: none;
  color: #f0f0f5;
}

footer li {
  padding-top: 1vw;
}

.footerBottomLeft {
  display: flex;
  gap: 3.5vw;
  padding-left: 3.5vw;
  color: #f0f0f5;
  font-size: 0.75rem;
  opacity: 50%;
  flex: 1;
}

.footerBottomRight {
  display: flex;
  gap: 3.5vw;
  padding-right: 3.5vw;
  color: #f0f0f5;
  font-size: 0.75rem;
  opacity: 50%;
  flex: 1;
  line-height: 3vh;
}

.footerBottom {
  display: flex;
  padding-left: 3vw;
}

/*--------------------------------------SWIPER*/

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #f8f8f8;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 53vh;
}




.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper {
  margin-left: auto;
  margin-right: auto;
}

.comBox {
  flex-direction: column;
  height: 50vh;
}

.mySwiper3 {
  height: 80vh;
  padding-bottom: 8vh;
}
